[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TFMPvalue"]
	path = TFMPvalue
	url = https://github.com/ge11232002/tfmpvalue
	shallow = true
	registered = true
[submodule "CNEr"]
	path = CNEr
	url = https://github.com/ge11232002/cner
	shallow = true
	registered = true
